{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "@typescript-eslint/no-floating-promises": [
      "error"
    ],
    "@typescript-eslint/await-thenable": "error"
  },
  "overrides": [{
    "files": ["*.ts", "*.tsx"], 
    "parserOptions": {
      "tsconfigRootDir": ".",
      "project": ["./tsconfig.json"]
    },
    "extends": [
      "react-app",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:prettier/recommended"
    ]
  }]
}